@CHARSET "ISO-8859-1";
body{
	background-image:url(../images/backgroud.jpg);
	background-repeat:repeat-x;
	font-family: "Courier New", Courier, monospace;
}
h1{
	background-image:url(../images/dotty.gif);
	background-position:bottom left;
	background-repeat:repeat-x;
	padding: 0px 0px 6px 0px;
	color: #41667F;
	text-align:center;
}
.wwFormTable{
	width=500px;
}
#queryform_servername{
	width=200px;
}
#queryform_priority{
	width=200px;
}
#queryform_severity{
	width=200px;
}